<div class="sidebar" role="aside" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <header class="header" role="banner">
        {{! The logo of the blog }}
        <a href="/"><img id="blog" class="logo" src="{{@blog.logo}}"></a>

        {{! The title of the blog }}
        <h1 class="title"><a href="/">{{@blog.title}}</a></h1>

        {{! The description of the blog }}
        <p class="description">{{@blog.description}}</p>

        {{! Small separator between user details and menu }}
        <div class="separator"></div>

        {{! Navigation menu }}
        {{navigation}}

        {{! Social links }}
        <div class="social-icons">
            <a href="https://github.com/zaaack" class="iconfont icon-github" target="_blank"></a>
            <a href="http://weibo.com/opendemo" class="iconfont icon-weibo" target="_blank"></a>
            <a href="https://www.linkedin.com/in/%E7%9C%9F-%E6%9D%A8-45bb94100" class="iconfont icon-linkedin" target="_blank"></a>
            <a href="https://www.facebook.com/profile.php?id=100010882031104" class="iconfont icon-facebook" target="_blank"></a>
            <a href="https://twitter.com/calin_cruceru" class="iconfont icon-twitter" target="_blank"></a>
            <a href="mailto:464631487@qq.com" class="iconfont icon-mail" target="_blank"></a>
            <a href="/rss" class="iconfont icon-rss" target="_blank"></a>
        </div>
    </header>

    <footer class="site-footer">
        <section class="copyright">{{> "copyright"}}</section>
        <section class="poweredby">published by <a class="ghost-link" href="https://github.com/zaaack/statical-ghost" target="_blank">statical-ghost</a> using the <a class="ghost-link" href="https://github.com/zaaack/Casy" target="_blank">Casy</a> theme. </section>
    </footer>
</div>
